@import './var.scss';
@import './index.scss';


    

    #search-btn{
        background: $linear-bg;
    }

    section{
        .games-container{
            display: flex;
            flex-wrap: wrap;
            
        }
    }

    .game{
        height: 25rem;
        width: 14rem;
        background-color: #202330;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: 0 1rem 2rem 1rem;

       


        img{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 280px;
            width: 224px;
            &:hover{
                cursor: pointer;
            }
        }

        .card-footer{


           


            .card-cart-section{
                background-color: #30374a;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.5rem;
                padding: 0 10px;

                i:hover{
                    cursor: pointer;
                }

                &:hover {
                    background: $linear-bg;
                }
            }
        }
    }