@import './var.scss';

aside{
    width: 20%;
    nav{
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 2rem;
        border-right: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        
            .nav-link{
                width: 100%;
                padding: 1rem;
                border-radius: 0.625rem;
                margin: 0.625rem 0;
                color: $nav-link-color;
    
                &:hover{
                    background: $linear-bg;
                    color: white;
                    cursor: pointer;
                }
            }
    
            #nav-footer{
                text-align: center;
               
            }
        
    }
}